@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* start the common css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul {
  padding-left: 0px;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
}
/* end the common css */

:root {
  --primary: #209fe4;
  --secondary: #ded300;
  --secondary-2: #fb9a1b;
  --text-color: #cecfd3;
  --white: #ffffff;
  --black: #000000;
}



nav.navbar.navbar-expand-lg.bg-body-tertiary {
  background: var(--white) !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.bdgol-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bdgol-header .nav-item .nav-link {
  color: var(--primary);
  font-size: 18px;
  font-weight: 500;
  transition: all linear 0.3s;
  position: relative;
  padding: 6px 17px;
}
.bdgol-header .nav-item .nav-link::after {
  content: "";
  width: 100%;
  height: 3px;
  background: var(--secondary-2);
  position: absolute;
  left: 0;
  bottom: 0;
  /* opacity: 0; */
  transform: scale(0);
  transition: all linear 0.3s;
}
.bdgol-header .nav-item .nav-link:hover {
  color: var(--secondary-2);
}
.bdgol-header .nav-item .nav-link:hover::after {
  transform: scale(1);
  /* opacity: 1; */
}
.right-side-btn {
  display: flex;
  gap: 10px;
}
.right-side-btn .primary-btn {
  border: 1px solid var(--primary);
  padding: 10px 16px;
  border-radius: 30px;
  color: var(--white);
  font-weight: 600;
  background: var(--primary);
  transition: all linear 0.3s;
}
.right-side-btn .primary-btn:hover {
  background: var(--white);
  color: var(--primary);
}
.right-side-btn .icon-btn i {
  margin-right: 6px;
}
.right-side-btn .primary-btn-outline {
  border: 1px solid var(--primary);
  color: var(--primary);
  background: var(--white);
  border-radius: 30px;
  padding: 10px 16px;
  font-weight: 600;
  transition: all linear 0.3s;
}
.right-side-btn .primary-btn-outline:hover {
  background: var(--primary);
  color: var(--white);
}
.header-logo {
  width: 170px;
}
.header-logo img {
  width: 100%;
}

/* start the footer css */
.footer {
  background: var(--primary);
  margin-top: 100px;
}

.logo-img {
  width: 150px;
  margin-bottom: 40px;
}
.logo-img img {
  width: 100%;
}
.footer-left .paragraph {
  font-size: 17px;
  font-weight: 400;
  color: var(--white);
  line-height: 32px;
}
.f-content {
  margin-bottom: 50px;
}
.socials ul {
  padding-left: 0px;
  display: flex;
  gap: 20px;
}
.socials ul li a {
  color: var(--white);
  font-size: 20px;
  transition: all linear 0.3s;
  margin-bottom: 10px;
}
.socials ul li a:hover {
  color: var(--secondary);
  margin-top: -4px;
}
.f-right .heading {
  font-size: 24px;
  font-weight: 600;
  color: var(--secondary);
  margin-bottom: 30px;
}

.f-right ul li a {
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 12px;
  transition: all linear 0.3s;
}
.f-right ul li a:hover {
  color: var(--secondary);
  margin-left: 5px;
}

.b-footer {
  border-top: 1px solid var(--white);
}
.b-footer .f-text {
  font-size: 17px;
  padding: 20px 0px;
  color: var(--white);
  text-align: center;
}

.footer-top {
  max-width: 70%;
  margin: auto;
  padding: 20px 80px 30px;
  border-radius: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  background: var(--white);
  position: relative;
  top: -73px;
}

.footer-top .text {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 15px;
  text-align: center;
}
.email-box {
  display: flex;
  align-items: center;
  position: relative;
}
.email-box input {
  width: 100%;
  padding: 12px 16px;
  color: #666;
  font-weight: 500;
  box-shadow: 1px 1px 3px rgb(53, 130, 254);
  border: 1px solid var(--primary);
  /* on-focus: none; */
  border-radius: 30px;
}
.email-box input:focus {
  outline: none;
}
.submit {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
  border: 1px solid var(--primary);
  background: var(--primary);
  transition: all linear 0.3s;
  border-radius: 30px;
}
.submit:hover {
  background: var(--white);
  color: var(--primary);
}

/* end the footer css */

/* start the category page css */
.category-banner {
  background: url("/img/category-banner.png") no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 170px;
  padding-bottom: 270px;
}
.category-banner .bannr-text {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  color: var(--white);
  background: #074363c3;
  max-width: 500px;
  margin: auto;
  padding: 15px 0;
}
.category-banner .bannr-text span {
  color: var(--secondary-2);
}
.category-area {
  padding: 100px 0px;
}
.category-box {
  background: var(--secondary-2);
  border-radius: 20px 0px 0px 20px;
  border: 2px solid var(--secondary-2);
}
.category-heading {
  padding: 10px 0px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
}
.category-list ul li a {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  font-weight: 500;
  color: var(--white);
  padding: 12px 15px;
  transition: all linear 0.2s;
}
.category-list ul li a:hover {
  background: var(--secondary-2);
}
.category-list ul li:last-child a:hover {
  border-radius: 0px 0px 0px 20px;
}
.category-list ul li:last-child {
  border-radius: 0px 0px 0px 20px;
}

.category-list ul li {
  background: var(--primary);
  border-bottom: 1px solid var(--white);
}
.category-list ul li:last-child {
  border-bottom: none;
}
.category-card {
  overflow: hidden;
  border-radius: 16px 16px 0px 0px;
  position: relative;
}
.bookmark-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  background: var(--white);
  padding: 6px 10px;
  border-radius: 4px;
  color: var(--secondary-2);
  transition: all linear 0.3s;
}
.bookmark-icon a {
  transition: all linear 0.3s;
  color: var(--secondary-2);
}
.bookmark-icon:hover a {
  color: var(--primary);
}

.category-card img {
  width: 100%;
  border-radius: 16px 16px 0px 0px;
  transition: all linear 0.3s;
}
.content-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
.content-wrap .left-heading {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
}
.content-wrap .left-heading .heading {
  font-size: 20px;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 10px;
  transition: all linear 0.3s;
}
.content-wrap .left-heading .heading:hover {
  color: var(--primary);
}
.left-heading .tags {
  padding: 6px 16px;
  background: var(--primary);
  font-size: 14px;
  border-radius: 20px;
  font-weight: 600;
  color: var(--white);
  width: 100px;
  text-align: center;
}
.category-card-wrap {
  padding-bottom: 20px;
  border-radius: 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all linear 0.3s;
}
.category-card-wrap {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.category-card-wrap:hover .category-card img {
  transform: scale(1.2);
}
.reating ul {
  display: flex;
  gap: 1px;
  margin-top: 40px;
}
.reating ul li a {
  font-size: 10px;
  color: var(--secondary-2);
}

.category-inner-content {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
.category-inner-content .category-items {
  font-size: 15px;
  margin-bottom: 8px;
}
.category-card-btn {
  text-align: center;
  margin-top: 10px;
}
.category-card-btn .c-primary-btn {
  font-size: 14px;
  color: var(--white);
  font-weight: 500;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  background: var(--secondary-2);
  transition: all linear 0.3s;
}
.category-card-btn .c-primary-btn:hover {
  background: var(--primary);
}

.section-headig .heading-text {
  margin-bottom: 30px;
  text-align: center;
  color: var(--primary);
  font-weight: 600;
  font-size: 32px;
}
.section-headig .heading-text .heading-colors {
  color: var(--secondary-2);
}

.category-similar {
  padding-bottom: 100px;
}
.paginationBtn-wrap {
  text-align: center;
  margin-top: 40px;
}

.pagination-btn {
  border: 1px solid var(--primary);
  background: var(--white);
  width: 45px;
  height: 45px;
  border-radius: 5px;
  color: var(--primary);
  transition: all linear 0.3s;
  font-size: 28px;
  margin-right: 25px;
  transform: rotate(45deg);
}

.pagination-btn i {
  transform: rotate(-43deg);
}
.pagination-btn:hover {
  background: var(--primary);
  color: var(--white);
}

/* end the category page css */

/* start the home  page css */
.home-banner {
  padding: 50px 0px;
}
.banner-left .bannerImg {
  width: 200px;
  margin: auto;
  margin-bottom: 40px;
}
.banner-left .bannerImg img {
  width: 100%;
}

.banner-left .banner-heading {
  font-size: 36px;
  font-weight: 600;
  color: var(--secondary-2);
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}
/* video css */
.video-wrap1 {
  border-radius: 20px 20px 50px 50px;
}
.video-wrapper-area .video-img {
  border-radius: 20px 20px 0px 0px;
  height: 350px;
  overflow: hidden;
}
.video-wrapper-area .video-img img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all linear 0.3s;
}
.video-wrapper-area {
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.video-wrapper-area:hover .video-img img {
  transform: scale(1.1);
}
.videoIcon {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translate(-50%);
}
.videoIcon button::after{
  content: "";
  width: 100%;
  height: 100%;
  background: var(--white);
  transform: scale(.2);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  opacity: .4;
  animation: animation1 infinite linear 3s;
}
.videoIcon button::before{
  content: "";
  width: 100%;
  height: 100%;
  background: var(--white);
  transform: scale(.2);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  opacity: .5;
  animation: animation1 infinite linear 2s;
}

@keyframes animation1 {
  0%{
    transform: scale(.2);
  }
  100%{
    transform: scale(1.7);
    opacity: 0;
  }
}
@keyframes animation2 {
  0%{
    transform: scale(.5);
  }
  100%{
    transform: scale(1.9);
    opacity: 0;
  }
}


.videoIcon button {
  width: 100px;
  height: 100px;
  background: var(--white);
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  border: none;
  font-size: 30px;
  text-align: center;
  transition: all linear 0.3s;
  position: relative;
}
.videoIcon button:hover {
  background: var(--primary);
}
.videoIcon button:hover i {
  color: var(--white);
}
.videoIcon button i {
  color: var(--secondary-2);
  transition: all linear 0.3s;
}
.video-content-wrap {
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  display: flex;
}
.video-content-wrap .video-text .count-value {
  font-size: 18px;
  color: var(--white);
  margin-bottom: 2px;
  font-weight: 600;
}
.video-content-wrap .video-text .count-text {
  font-size: 20px;
  color: var(--white);
  margin-bottom: 2px;
  font-weight: 600;
}
.video-conBg1 {
  overflow: hidden;
  background-image: linear-gradient(180deg, var(--secondary-2), var(--white));
  border-radius: 0px 0px 50px 50px;
}
.video-text {
  background: var(--primary);
  padding: 10px 16px;
  width: 33%;
  text-align: center;
}
.extraRd1 {
  border-radius: 0px 70px 0px 70px;
}
.extraRd3 {
  border-radius: 70px 0px 70px 0px;
}
.extraRd {
  border-radius: 0px 0px 50px 50px;
}

.banner-right .banner-heading {
  text-transform: capitalize;
}
.banner-right {
  margin-top: 60px;
}

.search-area input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  color: #777;
}
.search-area {
  display: flex;
  border: 2px solid var(--secondary-2);
  padding: 10px 20px;
  border-radius: 30px;
  align-items: center;
}
.search-area button {
  font-size: 20px;
  border: none;
  background: transparent;
  color: var(--secondary-2);
}

.country-slide {
  display: flex;
}
.country-single {
  border: 0.5px solid var(--white);
  background: var(--primary);
  padding: 10px 20px;
  color: var(--white);
  width: 100%;
  transition: all linear 0.3s;
}
.country-single:hover {
  background: var(--secondary-2);
}
.country-single:hover .name-count {
  color: var(--white);
}
.country-single .name {
  font-size: 20px;
  font-weight: 600;
}
.country-single .name-count {
  font-size: 20px;
  font-weight: 600;
  color: var(--secondary-2);
  transition: all linear 0.3s;
}
.country-slider {
  margin-top: 40px;
  border-radius: 30px;
}
.country-Rd1 {
  border-radius: 25px 0px 0px 0px;
}
.country-Rd2 {
  border-radius: 0px 25px 0px 0px;
}
.country-Rd3 {
  border-radius: 0px 0px 0px 25px;
}
.country-Rd4 {
  border-radius: 0px 0px 25px 0px;
}
/* end the home  page css */

/* start the recent-join card  section css*/
.recent-country .slick-slide {
  padding: 6px;
}
.recent-join {
  padding: 50px 0px;
}
.recent-join-card {
  padding: 20px;
  border: 2px solid var(--primary);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  gap: 15px;
  transition: all linear 0.3s;
}
.recent-join-card:hover .recent-join-img img {
  transform: scale(1.2);
}
.recent-join-card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.recent-join-img {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid var(--primary);
}
.recent-join-img img {
  width: 100%;
  border-radius: 50%;
  height: 100%;
  transition: all linear 0.3s;
}
.recent-join-text {
  text-align: left;
}
.recent-join-text .heading {
  font-size: 20px;
  color: var(--primary);
  margin-bottom: 8px;
  font-weight: 600;
}
.recent-join-text .recent-country {
  font-size: 18px;
  font-weight: 500;
  color: var(--secondary-2);
  display: flex;
  gap: 6px;
  align-items: center;
  margin-bottom: 14px;
}
.recent-join-text .recent-details-link {
  padding: 10px 16px;
  border-radius: 30px;
  background: var(--secondary-2);
  color: var(--white);
  font-weight: 600;
  transition: all linear 0.3s;
}
.recent-join-text .recent-details-link:hover {
  background: var(--primary);
  color: var(--white);
}
.section-heading .heading {
  font-size: 36px;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 20px;
}
.section-heading .heading span {
  color: var(--secondary-2);
}

/* end the recent-join card  section css*/

/* start the fetured section css */
.featured-section .slick-slide {
  padding: 0px 8px;
}
.featured-section {
  padding: 50px 0px;
  position: relative;
}

.fetured-card {
  border: 2px solid var(--primary);
  border-radius: 12px;
  transition: all linear 0.3s;
}
.fetured-card:hover .fetured-card-img img {
  transform: scale(1.2);
}
.fetured-card:hover .featued-mid-content .heading {
  color: var(--black);
}
.fetured-card-img {
  height: 220px;
  overflow: hidden;
  transition: all linear 0.3s;
  border-radius: 10px 10px 0px 0px;
}
.fetured-card-img img {
  height: 100%;
  width: 100%;
  transition: all linear 0.3s;
}
.featued-mid-content {
  text-align: center;
  padding: 20px 0px;
}
.featued-mid-content .heading {
  font-size: 28px;
  color: var(--primary);
  font-weight: 600;
  margin-bottom: 10px;
  transition: all linear 0.3s;
}
.featued-mid-content .sub-heading {
  font-size: 24px;
  color: var(--secondary-2);
  font-weight: 600;
}
.featured-bottom-content {
  margin: 7px;
  border-radius: 8px;
  background: var(--primary);
  color: var(--white);
  padding: 20px;
}
.featured-bottom-content .heading {
  text-align: center;
  font-size: 30px;
  color: var(--primary);
  background: var(--white);
  font-weight: 600;
  padding: 6px 16px;
  border-radius: 30px;
  display: block;
}

.featured-wrapper {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.featured-wrapper .fetured-left {
  width: 50%;
}
.featured-wrapper .fetured-left .texts {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.viewProfile {
  margin-top: 20px;
  text-align: center;
}
.viewProfile a {
  text-align: center;
  padding: 10px 20px;
  border-radius: 30px;
  background: var(--secondary-2);
  color: var(--black);
  transition: all linear 0.3s;
  font-weight: 600;
  font-size: 18px;
  margin: auto;
}
.viewProfile a:hover {
  background: var(--white);
  color: var(--primary);
}

.fetured-card:hover .viewProfile a {
  padding: 10px 70px;
}

.section-heading .heading-2 {
  text-align: center;
  color: var(--primary);
  margin-bottom: 10px;
}
.section-heading .heading-2 span {
  color: var(--secondary-2);
}
.section-heading .paragraph {
  font-size: 15px;
  font-weight: 500;
  color: #777;
  margin-bottom: 40px;
}

/* end the fetured section css */

/* start the news section css */
.news-section .slick-slide {
  padding: 0px 8px;
}
.news-section {
  padding: 50px 0px;
}
.section-headig .heading-3 {
  text-align-last: left;
}
.news-card-wrap:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.news-card-wrap {
  border: 2px solid var(--primary);
  border-radius: 12px;
  transition: all linear 0.3s;
}
.news-card-wrap:hover .news-card-img img {
  transform: scale(1.2);
}
.news-card-wrap .tags-wrap .tags {
  font-size: 20px;
  font-weight: 500;
  color: var(--white);
  background: var(--secondary-2);
  padding: 8px 16px;
  border-radius: 5px;
  position: relative;
  top: -33px;
  left: 40px;
}
.news-card-img {
  height: 300px;
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 20px;
}
.news-card-img img {
  width: 100%;
  height: 100%;
  transition: all linear 0.3s;
  border-radius: 10px 10px 0px 0px;
}
.news-content {
  padding: 0px 20px 20px;
}
.news-content .date-author {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 10px;
}
.news-content .date-author .texts {
  margin-bottom: 0px;
  font-size: 17px;
  color: var(--black);
  font-weight: 500;
}
.news-content .date-author .texts-link {
  color: #777;
  transition: all linear 0.3s;
}
.news-content .date-author .texts-link:hover {
  color: var(--primary);
}
.news-content .title {
  font-size: 26px;
  color: var(--primary);
  font-weight: 500;
  transition: all linear 0.3s;
}
.news-content .title:hover {
  color: var(--secondary-2);
}

/* end the news section css */

/* start the testimonials section css */
.testimonials .slick-slide {
  margin: 0px 50px;
}
.testimonials {
  padding: 50px 0px;
}
.testimonial-img {
  max-width: 30%;
  overflow: hidden;
  border: 5px solid var(--primary);
  border-radius: 30px;
  position: relative;
  /* margin: 0px 40px; */
}

.testimonial-img:hover img {
  transform: scale(1.2);
}
.testimonial-img img {
  border-radius: 30px;
  width: 100%;
  padding: 6px;
  transition: all linear 0.3s;
  overflow: hidden;
}

.slick-track {
  opacity: 1;
  width: 6336px;
  transform: none;
}
.testimonial-img.slick-slide.slick-current.slick-active.slick-center {
  transform: scale(1.3);
  position: relative;
  z-index: 999999 !important;
}
.testimonials-wrap .slick-slider .slick-track,
.slick-slider .slick-list {
  padding: 46px 0px;
}

/* end the testimonials section css */


/* start the choose us cestion css */
.choose-us-card-wrap{
  display: flex;
  position: relative;
}
.pagination-btn.pagination-left.slick-arrow {
  position: absolute;
  left: 46%;
  bottom: 22px;
  z-index: 9 !important;
}
.pagination-btn.pagination-right.slick-arrow {
  position: absolute;
  right: 45%;
  bottom: 22px;
}
.choose-us-card{
  width: 100%;
  padding: 20px;
  background: var(--primary);
  border: 1px solid var(--white);
  display: flex;
  gap: 20px;
  align-items: center;
}
.choose-us-card:hover .choose-card-img img{
  transform: scale(1.2);
} 

.choose-us-card .choose-card-img{
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid var(--secondary-2);
}
.choose-us-card .choose-card-img img{
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
  transition: all linear .3s;
}

.choose-card-content .heading{
  color: var(--white);
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
  transition: all linear .3s;
}
.choose-card-content .heading:hover{
  color: var(--secondary-2);
}
.choose-card-content .sub-heading{
  font-size: 20px;
  font-weight: 600;
  color: var(--secondary-2);
}
.choose-slide{
  border: 2px solid var(--secondary-2);
  border-radius: 10px;
}
.choose-us-card1{
  border-radius: 10px 0px 0px 0px;
}
.choose-us-card2{
  border-radius: 0px 10px 0px 0px;
}
.choose-us-card3{
  border-radius: 0px 0px 0px 10px;
}
.choose-us-card4{
  border-radius: 0px 0px 10px 0px;
}
.choose-us{
  padding: 50px 0px;
}
.section-headig .title{
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary);
}


/* end the choose us cestion css */














/* start the responisve css */

@media screen and (max-width: 1920px) {
  .container{
    max-width: 1700px;
  }
}
@media screen and (max-width: 1600px) {
  .container{
    max-width: 1400px;
  }
}



@media screen and (max-width: 991px) {
  .bdgol-header {
    display: block;
  }
  .right-side-btn button {
    display: block;
    flex-direction: column;
    margin-bottom: 8px;
  }
  .right-side-btn {
    display: block;
  }
}

/* end the responisve css */












/* star modal css  */